<!DOCTYPE html>
<html lang="kr">
<head>{{> /include/header }}
</head>
<body>
	{{> /include/navigation }}


	<div class="container" id="main">

		{{#board}}

		<div class="jumbotron jumbotron-fluid">
			<div class="container" style="padding: 10px; padding-top: 5px">
				<h2 class="display-4">{{title}}</h2>
				<p class="lead">
					<img src="https://img.icons8.com/dusk/64/000000/cat-profile.png"
						class="article-author-thumb" alt=""> <a
						href="/users/profile/{{writer.id}}" class="article-author-name">{{writer.userId}}</a>
					/<a class="article-header-time" title="퍼머링크"> 등록일
						{{formattedCreateDate}} <i class="icon-link"></i>
					</a> <span class="badge">등록된 Task {{countOfAnswer}} 개</span>
				</p>
				<hr class="my-4" />
				<p>{{contents}}</p>
				<div class="btn-group" role="group">
					<a href="/boards/{{id}}/form" class="btn btn-primary">수정</a> <a
						class="btn btn-info" href="/">목록</a>
					<!-- <a class="btn btn-danger" id="delete-board" href="/boards/{{id}}">삭제</a>
					 -->
					<!-- <form class="form-delete" action="/boards/{{id}}" method="POST">
						<input type="hidden" name="_method" value="DELETE">
						<button class="btn-danger" type="submit">삭제</button>
					</form> -->
				</div>
			</div>
		</div>

		<div class="container" style="padding: 5px;">
			<!-- Task Add Modal Button -->
			<button type="button" class="btn btn-success btn-lg" data-toggle="modal"
				data-target="#exampleModal">Task 추가</button>
		</div>
		<hr />

		<div class="container" style="padding: 10px; padding-top: 5px">
			<div class="row" id="task-list">
				{{#tasks}}
				<div class="card col-sm-3" style="margin-top: 10px;">
					<div class="card-body">
						<h5 class="card-title">
							<img src="https://img.icons8.com/dusk/64/000000/cat-profile.png"
								class="article-author-thumb" alt="">{{title}}
						</h5>
						<h6 class="card-subtitle mb-2 text-muted">
							<a href="/users/1/자바지기" class="article-author-name">{{writer.userId}}</a>
							<a href="#answer-1434" class="article-header-time" title="퍼머링크">{{formattedCreateDate}}</a>
						</h6>
						<p class="card-text">{{contents}}</p>
						<a class="link-modify-article btn btn-primary"
							href="/boards/413/answers/1405/form">수정</a>
						</li> <a class="link-delete-article btn btn-danger"
							href="/api/boards/{{board.id}}/tasks/{{id}}">삭제</a>
						</li>
					</div>
				</div>
				{{/tasks}}
			</div>
		</div>
	</div>


	{{/board}}


	<!-- Task Add Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Task 등록</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form class="answer-write" method="post"
					action="/api/boards/{{id}}/tasks">
					<div class="modal-body">
						<div class="form-group">
							<label>Task 제목</label> <input type="text" name="title"
								class="form-control" placeholder="Task 제목" /> <label>Task
								내용</label>
							<textarea class="form-control" placeholder="Task 내용을 등록 하세요"
								name="contents"></textarea>
						</div>
						<!-- <input type="sumbit" class="btn btn-success" value="Task 등록" /> -->
						<div class="clearfix" />
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">닫기</button>
						<button type="sumbit" class="btn btn-primary" id="task-add">Task
							등록</button>
					</div>
				</form>
			</div>
		</div>
	</div>



	<script type="text/template" id="answerTemplate">
	<div class="card col-sm-3">
		<div class="card-body">
			<h5 class="card-title">
				<img src="https://img.icons8.com/dusk/64/000000/cat-profile.png"
					class="article-author-thumb" alt="">{5}
			</h5>
			<h6 class="card-subtitle mb-2 text-muted">
				<a href="/users/1/자바지기" class="article-author-name">{0}</a> <a
					href="#answer-1434" class="article-header-time" title="퍼머링크">{1}</a>
			</h6>
			<p class="card-text">{2}</p>
			<a class="link-modify-article btn btn-primary" href=" href="/api/qna/updateAnswer/{3}">수정</a>
			</li> <a class="link-delete-article btn btn-danger"
				href="/api/boards/{3}/tasks/{4}">삭제</a>
			</li>
		</div>
	</div>
</script>

	{{> /include/footer }}
</body>
</html>